//google icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
// 其他設定
a{
    display: inline-block;
    text-decoration: none;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
*::before,
*::after{
  box-sizing: border-box;
}

//container、格線設定
$container-max-widths: (
  xxl: 1434px
);

$grid-gutter-width:  1.875rem;

//color
$primary:       #B0CD8E;
$secondary:     #F6CD86;
$accent:        #FF9FA6;
$light:         #ECECEC;
$dark:          #413A38;
$white:         #FFFFFF;
$black:         #000000;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "accent":     $accent,
  "light":      $light,
  "black":      $black,
);

//reset css
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// google icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

:root{ font-size: 16px;}

.pt-0{
  padding-top: 0;
}
.pr-0{
  padding-right: 0;
}
.pb-0{
  padding-bottom: 0;
}
.pl-0{
  padding-left: 0;
}
.pt-1{
  padding-top: 0.25rem !important;
}
.pr-1{
  padding-right: 0.25rem !important;
}
.pb-1{
  padding-bottom: 0.25rem !important;
}
.pl-1{
  padding-left: 0.25rem !important;
}
.pt-2{
  padding-top: 0.5rem !important;
}
.pr-2{
  padding-right: 0.5rem !important;
}
.pb-2{
  padding-bottom: 0.5rem !important;
}
.pl-2{
  padding-left: 0.5rem !important;
}
.pt-3{
  padding-top: 0.75rem !important;
}
.pr-3{
  padding-right: 0.75rem !important;
}
.pb-3{
  padding-bottom: 0.75rem !important;
}
.pl-3{
  padding-left: 0.75rem !important;
}
.pt-4{
  padding-top: 1rem !important;
}
.pr-4{
  padding-right: 1rem !important;
}
.pb-4{
  padding-bottom: 1rem !important;
}
.pl-4{
  padding-left: 1rem !important;
}
.pt-5{
  padding-top: 1.25rem !important;
}
.pr-5{
  padding-right: 1.25rem !important;
}
.pb-5{
  padding-bottom: 1.25rem !important;
}
.pl-5{
  padding-left: 1.25rem !important;
}
.pt-8{
  padding-top: 2rem !important;
}
.pr-8{
  padding-right: 2rem !important;
}
.pb-8{
  padding-bottom: 2rem !important;
}
.pl-8{
  padding-left: 2rem !important;
}
.pt-10{
  padding-top: 2.5rem !important;
}
.pr-10{
  padding-right: 2.5rem !important;
}
.pb-10{
  padding-bottom: 2.5rem !important;
}
.pl-10{
  padding-left: 2.5rem !important;
}

.mt-1{
  padding-top: 0.25rem !important;
}
.mr-1{
  padding-right: 0.25rem !important;
}
.mb-1{
  padding-bottom: 0.25rem !important;
}
.ml-1{
  padding-left: 0.25rem !important;
}
.mt-2{
  padding-top: 0.5rem !important;
}
.mr-2{
  padding-right: 0.5rem !important;
}
.mb-2{
  padding-bottom: 0.5rem !important;
}
.ml-2{
  padding-left: 0.5rem !important;
}

.wrapper{
  border: 1px solid $black;
}
.block-border{
  border: 1px solid $black;
}
.block-border-top{
  border-top: 1px solid $black;
}
.block-border-right{
  border-right: 1px solid $black;
}
.block-border-bottom{
  border-bottom: 1px solid $black;
}
.block-border-left{
  border-left: 1px solid $black;
}