//google icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

// 其他設定
a{
    display: inline-block;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}


//body 中間 wrap 的 width、border 設定
.wrap{
  max-width: 1636px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

//Dashed grid background
$grid-size: 30px;
$dash-length: 5px;
$dash-width: 1px;
$dash-color: #D4F4F2;
$background: #FFFFFF;

.dashed-bg {
  padding: 86px 0;
  background-color: $background;
  background-size: $dash-length*2 $dash-length*2, $grid-size $grid-size;
  background-image:
    linear-gradient(to bottom, transparent $dash-length, $background $dash-length),
    linear-gradient(to right, $dash-color $dash-width, transparent $dash-width),
    linear-gradient(to right, transparent $dash-length, $background $dash-length),
    linear-gradient(to bottom, $dash-color $dash-width, transparent $dash-width);
}

//color
//之後要刪掉
$primary:       #B0CD8E;
$secondary:     #F6CD86;
$accent:        #FF9FA6;
$light:         #ECECEC;
$dark:          #413A38;
$white:         #FFFFFF;
$black:         #000000;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "accent":     $accent,
  "light":      $light,
  "black":      $black,
);

// scss-docs-start nav-variables
// $nav-link-padding-y:                .5rem !default;
// $nav-link-padding-x:                1rem !default;
// $nav-link-font-size:                null !default;
// $nav-link-font-weight:              null !default;
// $nav-link-color:                    $black;
// $nav-link-hover-color:              $primary;
// $nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
// $nav-link-disabled-color:           $gray-600 !default;

// scss-docs-end nav-variables

//spacer
//之後要刪掉
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25, //4px
  2: $spacer * .5,  //8px
  3: $spacer * .75, //12px
  4: $spacer,       //16px
  5: $spacer * 1.25,//20px
  6: $spacer * 1.5, //24px
  7: $spacer * 2,   //32px
  8: $spacer * 2.5, //40px
  9: $spacer * 3,   //48px
) !default;

//ol,ul reset
ol,ul{
  padding: 0;
}
ol,ul,dl{
  margin: 0;
}

// google icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.wrapper{
  border: 1px solid $black;
}
.block-border{
  border: 1px solid $black;
}
.block-border-top{
  border-top: 1px solid $black;
}
.block-border-right{
  border-right: 1px solid $black;
}
.block-border-bottom{
  border-bottom: 1px solid $black;
}
.block-border-left{
  border-left: 1px solid $black;
}