//font 設定
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,900;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,900&display=swap');

*{
    font-family: 'Noto Sans TC','Roboto Serif', serif;
}

$h1-font-size:                $font-size-base * 3;

$headings-line-height:
    1.5 !default;

.fs-1{
    font-size: 40px;
    font-weight: 700;
} 
.fs-2{
    font-size: 32px;
} 
.fs-3{
    font-size: 30px;
    line-height: 1.3;
} 
.fs-4{
    font-size: 26px;
    font-weight: 700;
} 
.fs-5{
    font-size: 24px;
    line-height: 1.3;
}
.fs-6{
    font-size: 20px;
}
.fs-7 {
    font-size: 18px;
    line-height: 1.7;
}
.fs-8 {
    font-size: 18px;
    line-height: 1.3;
}
.fs-9 {
    font-size: 16px;
    line-height: 1.3;
}
.fs-10 {
    font-size: 14px;
    font-weight: 700;
}
.fs-11 {
    font-size: 14px;
}
.fs-12 {
    font-size: 12px;
}
