@mixin mobile{
    @media(max-width:375px){
      @content;
    }
}

@mixin button-gray {
  background-color: #D9D9D9;
  padding: 10px;
}
@mixin button-lg {
  background-color: gray;
  border: 1px solid #000;
}

@mixin find-title {
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
  letter-spacing: 0;
}

.button-gray {
  @include button-gray;
}

.find {
  &-title {
    @include find-title;
  }
  &-border-yellow {
    border: 2px solid #CEDA79;
  }
  &-border-white {
    border: 2px solid #fff;
  }
  &-dark {
    color: #000;
    background-color: #fff;
  }
  &-light {
    color: #fff;
    background-color: #b0cd8e;
  }
}
.no-border-radius {
  border-radius: 0;
}