<div class="swiper mySwiper">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="./" alt=""></div>
		<div class="swiper-slide"><img src="img/banner2.png"></div>
		<div class="swiper-slide"><img src="img/banner3.png"></div>
	</div>
</div>


// Initialize Swiper 
<script>
  var swiper = new Swiper(".mySwiper", {
  autoplay: {
	  delay: 2500,
	  disableOnInteraction: false,
	},
	loop: true,
  });
</script>