<div class="swiper mySwiper">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="../assets/images/temporary-banner.png" alt="banner01"></div>
		<div class="swiper-slide"><img src="../assets/images/temporary-banner02.png" alt="banner02"></div>
        <div class="swiper-slide"><img src="../assets/images/temporary-banner03.png" alt="banner03"></div>
        <div class="swiper-slide"><img src="../assets/images/temporary-banner04.png" alt="banner04"></div>
        <div class="swiper-slide"><img src="../assets/images/temporary-banner05.png" alt="banner05"></div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Initialize Swiper  -->
<script>
  var swiper = new Swiper(".mySwiper", {
  autoplay: {
	  delay: 2500,
	  disableOnInteraction: false,
	},
	loop: true,
  });
</script>