<footer class="footer">
    <div class="footer-nav">
        <a href="index.html"><img src="" alt="logo"></a>
        <div class="inquire">
            <h4>快速查詢</h4>
            <ul>
                <li><a href="#">表演列表</a></li>
                <li><a href="#">課程列表</a></li>
                <li><a href="#">場地總覽</a></li>
                <li><a href="#">已登錄表演團體</a></li>
            </ul>
        </div>
        <div class="about">
            <h4>關於我們</h4>
            <ul>
                <li><a href="#">網站緣起</a></li>
                <li><a href="#">關於開發團隊</a></li>
                <li><a href="#">社群簡介</a></li>
            </ul>
        </div>
        <div class="collect">
            <h4>我藉收藏</h4>
            <ul>
                <li><a href="#">收藏表演</a></li>
                <li><a href="#">收藏課程</a></li>
                <li><a href="#">收藏場地</a></li>
            </ul>
        </div>
        <div class="member">
            <h4>會員中心</h4>
            <ul>
                <li><a href="#">一般會員中心</a></li>
                <li><a href="#">表演團體專用平台</a></li>
            </ul>
        </div>
        <ul class="">
            <li><a href="#">台中表演藝術指南針</a></li>
            <li><a href="#">後台管理</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>Copyright&copy;藝吧查表演 ALL Rights Reserved. 網站僅為學習目的非商業用途</p>
    </div>
</footer>


