<footer class="block-border-top">
<div class="container">
<div class="row py-7">
    <div class="col-md-2">
    <a href="index.html">
        <img class="logo-footer" src="https://raw.githubusercontent.com/winniecat777/performanceSearch/main/assets/images/18-logo-00.png" alt="logo">      
    </a>
    </div>
    <div class="sitemap col-md-7">
    <div class="row">
    <div class="col-3">
        <h4 class="fs-10 mb-1">快速查詢</h4>
        <ul class="list-unstyled">
        <li><a class="mb-1 fs-11" href="">表演列表</a></li>
        <li><a class="mb-1 fs-11" href="">課程列表</a></li>
        <li><a class="mb-1 fs-11" href="">場地總覽</a></li>
        <li><a class="mb-1 fs-11" href="">已登錄表演團體</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4 class="fs-10 mb-1">關於我們</h4>
        <ul class="list-unstyled">
        <li><a class="mb-1 fs-11" href="">網站緣起</a></li>
        <li><a class="mb-1 fs-11" href="">關於開發團隊</a></li>
        <li><a class="mb-1 fs-11" href="">社群簡介</a></li>
        </ul>
    </div>
    <div class="col-3">
        <h4 class="fs-10 mb-1">我的收藏</h4>
        <ul class="list-unstyled">
        <li><a class="mb-1 fs-11" href="">收藏表演</a></li>
        <li><a class="mb-1 fs-11" href="">收藏課程</a></li>
        <li><a class="mb-1 fs-11" href="">收藏場地</a></li>
        </ul>
    </div>
    <div class="col-3">
        <h4 class="fs-10 mb-1">會員中心</h4>
        <ul class="list-unstyled">
        <li><a class="mb-1 fs-11 text-hover-1" href="">一般會員中心</a></li>
        <li><a class="mb-1 fs-11 text-hover-1" href="">表演團體專用平台</a></li>
        </ul>
    </div>
    </div>
    </div>
    <div class="col-3">
    <ul class="special-link col align-self-end list-unstyled">
        <li class="mb-1"><a class="d-flex align-items-center fs-11 text-hover-1" href="">
        <img class="icon-img me-1" src="https://raw.githubusercontent.com/winniecat777/performanceSearch/main/assets/images/icon-line.png" alt="line">台中表演藝術指南針
        </a></li>
        <li class="mb-1"><a class="d-flex align-items-center fs-11 text-hover-1" href="">
        <img class="icon-img me-1" src="https://raw.githubusercontent.com/winniecat777/performanceSearch/main/assets/images/icon-admin.png" alt="admin">後台管理
        </a></li>
    </ul>
    </div>
</div>
</div>
<div class="copyright py-4 fs-12">
    <div class="container">
    Copyright©2023 藝吧查表演 All Rights Reserved.  網站僅為學習目的不做商業用途
    </div>
</div>
</footer>