<h1 class="header">我是 header</h1>
<a href="index.html">index</a>

<header class="header">
    <nav>
        <h1>
            <a href=""><img src="" alt=""></a>
        </h1>
        <ul>
            <li><a href="#">活動資訊</a></li>
            <li><a href="#">場地資訊</a></li>
            <li><a href="#">關於我們</a></li>
            <li><a href="#"><span></span></a></li>
            <li><a href="#"><span></span></a></li>
        </ul>
    </nav>
</header>