
    <!-- header -->
<header class="block-border-bottom">
  <nav class="navbar navbar-expand-md pt-0 pb-0">
    <div class="container-md px-0">
      <!-- LOGO -->
      <a class="navbar-brand block-border-left lh-1 d-flex pt-0 pb-0" href="index.html">      
        <div class="p-4">
          <img class="logoPixel" src="https://raw.githubusercontent.com/winniecat777/performanceSearch/main/assets/images/18-logo-md-01.png" alt="logo">
        </div>  
        <div class="p-4 block-border-left  block-border-right">
          <img class="logoFont" src="https://raw.githubusercontent.com/winniecat777/performanceSearch/main/assets/images/18-logo-md-02.png" alt="logo">
        </div>
      </a>
      <!-- 漢堡 -->
      <button class="navbar-toggler px-5 py-5 block-border-left" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- 主選單 -->
      <div class="collapse navbar-collapse bg-sm-white text-dark" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-0 d-md-flex align-items-center d-sm-block border-sm">
          <li class="nav-item d-md-flex align-items-center py-2 border-md">
            <a class="nav-link link-dark px-5 fs-6" aria-current="page" href="#">活動資訊</a>
          </li>
          <li class="nav-item d-md-flex align-items-center py-2 border-bottom-sm">
            <a class="nav-link link-dark px-5 fs-6" aria-current="page" href="#">場地資訊</a>
          </li>
          <li class="nav-item d-md-flex align-items-center py-2 border-bottom-sm">
            <a class="nav-link link-dark px-5 fs-6" aria-current="page" href="about.html">關於我們</a>
          </li>
        </ul>
        <div class="navbar-btn-group d-flex">
          <a class="navbar-btn px-5 fs-6 block-border-left d-flex align-items-center" aria-current="page" href="#">
            <span class="material-symbols-outlined">favorite</span>
          </a>
          <a class="navbar-btn px-5 fs-6 block-border-left block-border-right d-flex align-items-center" aria-current="page" href="#">
            <span class="material-symbols-outlined">account_circle</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>


