.sketchBtn{
  text-align: center;
  &-span {
    color: $black;
    background: #FFF;
    display: block;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #000;
    &:hover{
        background-color: $secondary;
    }
  }
  &-link:hover {
    box-shadow: 0 2px 0 #000;
  }
  &-link:active {
    top: 4px;
    padding-bottom: 0px;
    box-shadow: 0 1px 0 #000;
  }
  &-link {
    position: relative;
    color: #fff;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    transition: padding 0.1s, box-shadow 0.1s, top 0.1s;  
    overflow: hidden;
    z-index: 1;
  }
  
  &-link:after{
    content: "";
    position: absolute;
    width: 200%;
    height: 560%;
    top: -50%;
    left: -50%;
    z-index: -1;
    transform: rotate(81deg);
    background-image: url("/assets/images/index_mobile03.png");
  }
}
