a.logo-footer{
  @include mobile{
  display: block;
  text-align: center;
  }
}
.logo-footer img{
  width: 156px;
  height: auto;
  @include mobile{
    width: 128px;
    margin: 0 auto;
  }
}
.sitemap a{
  color: $black;
  &:hover{
      color: $primary;
  }
}
.icon-img{
  width: auto;
  height: 28px;
}
.footer-icon{
  width: 50%;
}
.copyright{
  font-size: 13px;
  background: $dark;
  color: $white;
  letter-spacing: 2px;
}