nav,
header,
.navbar-btn{
  height: 88px;
  @include mobile{
    height: 72px;    
  }
}
a.nav-item,
a.navbar-btn{
  color: $dark !important;
  &:hover{
    color: $primary !important;
  }
}
.navbar-btn{
  width: 50%;
  text-align: center;
}

// logo
.logoPixel,
.logoFont{
  vertical-align: middle;
}
.logoPixel{
  width: auto;
  height: 56px; 
  @include mobile{
    height: 38px;    
  } 
}
.logoFont{
  width: auto;
  height: 52px; 
  @include mobile{
    height: 38px;    
  } 
}

// nav
nav a{    
  // height: 90px;
  color: $dark;
  // line-height: 90px;
  outline: none;
  &:hover{
      color:$primary;
  }  
}
.nav-item{
  @include mobile{
    width: 100%;
    text-align: center;
  }
}


//toggle
.navbar-toggler{
  height: 88px;
  border: 0 0 0 1px;
  border-radius: 0;  
  // background: $dark;
  @include mobile{
    height: 72px;
  }
}
.navbar-collapse{
  z-index: 9;
}

.material-symbols-outlined {  
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}