.north-icon{  
    width: 75px;
    height: 80px;
    font-size: 48px;
    text-align: right;
    position: absolute;
    right: 8px;
    top: 24px;
  }

#totop {
    width: 75px;
    height: 80px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #B0CD8E; /* Set a background color */
    color: white; /* Text color */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: inline-block;
    clip-path: ellipse(100% 100% at 100% 100%);
    cursor: pointer; /* Add a mouse pointer on hover */
    // padding: 15px; /* Some padding */
    // border-radius: 10px; /* Rounded corners */
    // font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    opacity: .8; /* Add a dark-grey background on hover */
  }