.bg-space{
  max-width: 10%;
}
.findCourse{
  max-width: 90%;
  h2{
    background: #B0CD8E;
    color: #fff;
    display: inline-block;
    font-size: 48px;
    border: 2px solid #CEDA79;
    font-family: "Microsoft JhengHei";
    font-weight: bold;
  }
  span{
    padding: 20px;
    color: #000;  
    letter-spacing: 0px;
    border: 2px solid #FFF;
    display: inline-block;
    &:nth-child(1){
      padding-left: 20px;
      background: #FFF;    
    }
    &:nth-child(2){
      padding-right: 10px;
      background: #B0CD8E;
      color: #fff;
      border-right: 0;
    }
    &:nth-child(3){
      padding-left: 10px;
      background: #B0CD8E;
      color: #fff;
      border-left: 0;
    }  
  }
}