html {
  overflow-x: hidden
}

main{
  min-height: 70vh;
}


// section 1 
.section-warpper {
  position: relative;
  
  
  .campass {
    position: absolute;
    top: 244px;
    right: -6px;
    transform: rotate(-45deg);
  }

  .input-outline {
      position: relative;
      width: 750px;
      height: 119px;
      margin: 0 auto;
      margin-bottom: 40px;
      border: 3px solid #ccc;
      box-sizing: border-box;

      .box {
        width: 100%;
        height: 100%;
        border-top: 15px solid #F6CD86;
        border-right: 15px solid #F6C063;
        border-bottom: 15px solid #FFF;
        border-left: 15px solid #EEE;
        box-sizing: border-box;
        box-shadow: 0px 0px 0px 2px #888;

        input {
          width: 100%;
          height: 100%;
          border: 3px solid #888;
          box-sizing: border-box;
          background-color: #B0CD8E;
        }

        .input-inside {
          position: absolute;
          top: 14px;
          left: 14px;
          width: 715px;
          height: 83px;
          padding: 0 27px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 23px;
          font-weight: 500;

          &-left {
            span {
              vertical-align: middle;
            }
          }

        }
      }
  }

  .title-bg {
    position: relative;
    width: 40%;
    margin: 0 auto;
    text-align: center;

    .title {
      position: absolute;
      font-weight: 700;
      font-size: 2.3rem;
      letter-spacing: 19px;
      top: 56px;
      left: 190px;
    }
  }

  // banner
  .banner-part {
    position: relative;
    max-width: 100%;

    .banner-content {
      position: absolute;
      outline: 1px solid #625B5A;
      width: 356px;
      height: 382px;
      top: 35%;
      right: 3%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      opacity: 0.85;

      .banner-container {
        width: 82%;
        margin: 0 auto;
      }

      .banner-info {
        p:nth-child(1) {
          margin-top: 23px;
        }

        p:nth-child(2) {
          font-size: 26px;
          font-weight: 700;
        }

        p:nth-child(3) {
          font-size: 18px;
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      padding-bottom: 12px;
      font-size: 18px;

      .page-item {
        border-radius: -1px;

        .page-link {
          color: #625B5A;
        
          &:focus {
            color: #fff;
            background-color: #625B5A;
          }
        }
      }
    }

    .banner-bg {
      width: 96.9%;
      padding: 29px 0;
      margin-left: 23px;
      transform: skew(38deg);
      background-color: $theme-green;
    }
  }
}
// dot-bg
.bg-dot {
  height: 58px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.9 22.9' style='enable-background:new 0 0 22.9 22.9;' xml:space='preserve'%3E%3Ccircle fill='rgb(176 205 142)' cx='5.7' cy='5.9' r='3'/%3E%3Ccircle fill='rgb(176 205 142)' cx='17.2' cy='17.2' r='3'/%3E%3C/svg%3E%0A");
  background-size: 20px;
  background-color: #fff;
}
.hr1 {
  position: absolute;
  top: 29px;
  border-top: 1px solid $primary;
  width: 100%;
  margin: 0;
}

// 找課程 
.bg-space{
  width: 3%;
}
.find{
  width: 97%;
  background-image: url(/assets/images/index_mobile03.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  &-h2{
    background: #B0CD8E;
    color: #fff;
    display: inline-block;
    font-size: 32px;
    border: 2px solid #CEDA79;
    font-weight: bold;
  }
  &-span{
    padding: 20px;
    color: #000;  
    letter-spacing: 0px;
    border: 2px solid #FFF;
    display: inline-block;
    &:nth-child(1){
      padding-left: 20px;
      background: #FFF;    
    }
    &:nth-child(2){
      padding-right: 10px;
      background: #B0CD8E;
      color: #fff;
      border-right: 0;
    }
    &:nth-child(3){
      padding-left: 10px;
      background: #B0CD8E;
      color: #fff;
      border-left: 0;
    }  
  }
}

  .frame {
    background-color: transparent;
    border-radius: 3px;
    width: 240px;
    height: 526px;
    transform-style: preserve-3d;
    perspective: 2000px; //透視效果
    transition: .4s;
    text-align: center;
    &:hover{
      transform:  rotateY(-20deg) skewY(3deg);
      .frame-card{
        transform: rotateY(20deg) skewY(-3deg);
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      border-top: 6px solid #F6CD86;
      border-left: 6px solid #F6CD86;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 6px solid #F6CD86;
      border-right: 6px solid #F6CD86;
    }
   
    &-card {
      position: absolute;
      top: 30px;
      left: -20px;
      width: calc(100% + 40px);
      height: calc(100% - 60px);
      border-radius: 3px;
      transition: .4s;
      padding: 30px 0px;
      background-color: transparent;
      border: 0;
    }
    &-content {
      position: relative;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      text-align: center;
    }
    &-img{
      max-height: 280px;
    }
    &-span{
      max-width: 60px;
      max-height: 60px;
      color: $black;
      background-color: #D9D9D9;
      border: 1px solid $black;
      padding: 10px 10px;
      right: 26px; 
    }
    &-link:hover{
      color: #000;
    } 
  }

// swiperCourse
  .swiper {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 54px;
    padding: 0;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
  }

  .swiperCourse{
    
    &-card{
      border-radius: 0;
      border: 1px solid $black;
    }
    &-img{
      width: 100%;
    }
    &-span{
      max-width: 60px;
      max-height: 60px;
      color: $black;
      background-color: #D9D9D9;
      border: 1px solid $black;
      padding: 10px 10px;
      right: 0;
    }
    &-link:hover{
      color: #000;
    }
  }
  .swiper-pagination-bullet-active{
    background-color: $secondary;
  }
  .swiper-pagination-horizontal{
    bottom: 0;
  }

  //introduce
.introduce{
  &-bgtop{
      height: 66px;
      background-size:  cover;
      background-image: url(/assets/images/hilight-bgtop1.png);
      background-repeat: repeat;
      background-position: top;
      overflow: hidden;
  }

  &-card{
    border: 1px dashed $primary;
    border-radius: 0; 
  }
}
  


