<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>活動資訊- 藝吧查表演</title>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  </head>
  <body>
  <div class="wrapper block-border">
  <%- include('./layout/header'); -%>
    <div class="dashed-bg">
      <div class="container pb-10">
        <div class="nav">
          <a class="px-5 fs-5 mt-10" href="index.html">首頁</a><span class="fs-5 mt-10">></span><a class="px-5 fs-5 mt-10" href="activityInfo.html">活動資訊</a>
        </div>
        <div class="row mt-7">
          <div class="col-3 d-none d-lg-inline-block">
            <div class="bg-primary pt-5 px-8 pb-10">
              <h2 class="text-center">篩選條件</h2>
              <p class="fs-6">時間</p>
              <div class="d-flex justify-content-between mt-4">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    年份
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">2021</a></li>
                    <li><a class="dropdown-item" href="#">2022</a></li>
                    <li><a class="dropdown-item" href="#">2023</a></li>
                  </ul>
                </div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    月份
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">一月 January</a></li>
                    <li><a class="dropdown-item" href="#">二月 February</a></li>
                    <li><a class="dropdown-item" href="#">三月 March</a></li>
                    <li><a class="dropdown-item" href="#">四月 April</a></li>
                    <li><a class="dropdown-item" href="#">五月 May</a></li>
                    <li><a class="dropdown-item" href="#">六月 June</a></li>
                    <li><a class="dropdown-item" href="#">七月 July</a></li>
                    <li><a class="dropdown-item" href="#">八月 August</a></li>
                    <li><a class="dropdown-item" href="#">九月 October</a></li>
                    <li><a class="dropdown-item" href="#">十月 November</a></li>
                    <li><a class="dropdown-item" href="#">十一月 November</a></li>
                    <li><a class="dropdown-item" href="#">十二月 December</a></li>
                  </ul>
                </div>
              </div>
              <p class="fs-6 mt-4">地點 / 地區</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle mt-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  行政區
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="max-height: 200px; overflow-y: auto;" >
                  <li><a class="dropdown-item" href="#">中區</a></li>
                  <li><a class="dropdown-item" href="#">東區</a></li>
                  <li><a class="dropdown-item" href="#">西區</a></li>
                  <li><a class="dropdown-item" href="#">南區</a></li>
                  <li><a class="dropdown-item" href="#">北區</a></li>
                  <li><a class="dropdown-item" href="#">西屯區</a></li>
                  <li><a class="dropdown-item" href="#">南屯區</a></li>
                  <li><a class="dropdown-item" href="#">北屯區</a></li>
                  <li><a class="dropdown-item" href="#">豐原區</a></li>
                  <li><a class="dropdown-item" href="#">大里區</a></li>
                  <li><a class="dropdown-item" href="#">太平區</a></li>
                  <li><a class="dropdown-item" href="#">清水區</a></li>
                  <li><a class="dropdown-item" href="#">沙鹿區</a></li>
                  <li><a class="dropdown-item" href="#">大甲區</a></li>
                  <li><a class="dropdown-item" href="#">東勢區</a></li>
                  <li><a class="dropdown-item" href="#">梧棲區</a></li>
                  <li><a class="dropdown-item" href="#">烏日區</a></li>
                  <li><a class="dropdown-item" href="#">神岡區</a></li>
                  <li><a class="dropdown-item" href="#">大肚區</a></li>
                  <li><a class="dropdown-item" href="#">大雅區</a></li>
                  <li><a class="dropdown-item" href="#">后里區</a></li>
                  <li><a class="dropdown-item" href="#">霧峰區</a></li>
                  <li><a class="dropdown-item" href="#">潭子區</a></li>
                  <li><a class="dropdown-item" href="#">龍井區</a></li>
                  <li><a class="dropdown-item" href="#">外埔區</a></li>
                  <li><a class="dropdown-item" href="#">和平區</a></li>
                  <li><a class="dropdown-item" href="#">石岡區</a></li>
                  <li><a class="dropdown-item" href="#">大安區</a></li>
                  <li><a class="dropdown-item" href="#">新社區</a></li>
                </ul>
              </div>
              <p class="fs-6 mt-4">活動類別</p>
              <div class="mt-4 d-flex justify-content-between">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="舞蹈" id="checkboxDance">
                  <label class="form-check-label" for="checkboxDance">
                    舞蹈
                  </label>
                </div>
                
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="音樂" id="checkboxMusic">
                  <label class="form-check-label" for="checkboxMusic">
                    音樂
                  </label>
                </div>
                
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="話劇" id="checkboxDrama">
                  <label class="form-check-label" for="checkboxDrama">
                    話劇
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- 切換頁面導覽按鈕 -->
          <div class="col-12 col-lg-9">
            <ul class="nav mb-10" id="myTab" role="tablist">
              <li class="mx-4" role="presentation">
                <button class="nav-link active rounded-top rounded-bottom" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">表演資訊</button>
              </li>
              <li class="mx-4" role="presentation">
                <button class="nav-link rounded-top rounded-bottom" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">課程資訊</button>
              </li>
            </ul>
            <!-- 切換頁面內容 -->
            <div class=" tab-content">
              <!-- 表演資訊 start -->
              <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5">
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/index.banner.png" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-32 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/index.banner.png" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-32 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/index.banner.png" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-32 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/index.banner.png" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-32 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/index.banner.png" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-32 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/index.banner.png" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-32 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/index.banner.png" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-32 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/index.banner.png" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-32 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/index.banner.png" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-32 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 表演資訊 end -->
              <!-- 課程資訊 start -->
              <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 mx-lg-auto">
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/course01.jpeg" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-56 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/course04.jpeg" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-56 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/course07.jpeg" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-56 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/course01.jpeg" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-56 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/course04.jpeg" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-56 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/course07.jpeg" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-56 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/course01.jpeg" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-56 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/course04.jpeg" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-56 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="card no-border-radius position-relative">
                      <img src="/assets/images/course07.jpeg" alt="" class="card-img-top no-border-radius">
                      <div class="card-body">
                        <p class="card-text">真善美藝術表演中心</p>
                        <h3 class="card-title">狼與彼得 TASO互動式親子音樂會</h3>
                        <p class="card-text">音樂X戲劇X互動演出<br>經典作品神反轉!<br>一起來段意想不到的音樂冒險</p>
                        <a href="" class="button-gray border position-absolute top-56 end-0">分類</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 課程資訊 end -->
            </div>          
          </div>
        </div>
      </div>
    </div>
    
    
    <%- include('./layout/footer'); -%>

    <%- include('./layout/toTop-btn') -%>
  </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script type="module" src="../main.js"></script>
  </body>
</html>
