<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  </head>
  <body>
  <div class="wrapper block-border">
  <%- include('./layout/header'); -%>
    <div class="dashed-bg">
    <%- include('./layout/bannerSwiper') -%>
      <div class="container">
        <div class="nav mt-10">
          <a class="px-5 fs-5" href="index.html">首頁</a><span class="fs-5">></span><a class="px-5 fs-5" href="activityInfo.html">活動資訊</a>
        </div>
        <div class="row">
          <div class="col-3">
            <h4>篩選條件</h4>
          </div>
          <div class="col-9"></div>
        </div>
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <%- include('./layout/toTop-btn') -%>
  </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script type="module" src="../main.js"></script>
  </body>
</html>
