<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁- 藝吧查表演</title>
    <!-- CSS Quote Box Hover Effects -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  
<body>
  <div class="wrapper block-border">
  <%- include('./layout/header'); -%>      

  <main>
      <!-- section 1  -->
  <section class="section-warpper">

    <!-- dashed-background start -->
    <div class="dashed-bg">
      <img class="curve" src="../../assets/images/bg-dash-curve.png" alt="">
      <img class="campass" src="../../assets/images/campass.png" alt="">
      <div class="input-outline">
        <div class="box">
          <input type="text">
          <div class="input-inside">
            <div class="input-inside-left">
              <img src="../../assets/images/Search.png" alt="">
              <span>查表演</span>
            </div>
            <span>搜尋</span>
          </div>
        </div>
      </div>
      <div class="title-bg">
        <img src="../../assets/images/titile-bg-news.png" alt="">
        <h2 class="title">熱門演出</h2>
      </div>
    </div>
    <!-- dashed-background end -->

    <!-- banner start -->
    <div class="banner-part">
      <div class="banner-content">
        <div class="banner-info banner-container">
          <p>真善美藝術表演中心</p>
          <p>狼與彼得 TASO互動式親<br>子音樂會</p>
          <p>
            音樂X戲劇X互動演出 <br>
            經典作品神反轉！<br>
            一起來段意想不到的音樂冒險
          </p>
        </div>
        <hr>
        <ul class="pagination banner-container">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item"><a class="page-link" href="#">7</a></li>
        </ul>
      </div>
      <img class="banner-img" src="../../assets/images/Rectangle.png" alt="">
      <div class="banner-bg"></div>
    </div>
    
    <!-- banner end -->

  </section>
  <!-- end section 1  -->
    
    
    
    <div class="d-flex">
      <div class="bg-space"><a class="d-block"></a></div>
      <div class="findCourse bg-primary">
        <div class="pt-6 mb-6 d-flex align-items-center">
          <h2><span>找</span><span>課</span><span>程</span></h2>
          <img src="../assets/images/h2-bg-side.png" alt="h2-bg-side">
        </div>
        <div class="container">
          <ul class="row list-unstyled mb-0">
            <li class="col-3">
              <div class="frame">
                <div class="card">
                  <div class="text">
                    <h5>Quote the day</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </li>
            <li class="col-3">
              
            </li>
            <li class="col-3"></li>
            <li class="col-3"></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <%- include('./layout/footer') -%>
  </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>
