<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁- 藝吧查表演</title>
    <!-- CSS Quote Box Hover Effects -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
<body>
  <%- include('./layout/header'); -%>      

  <main>
    <div class="d-flex">
      <div class="bg-space"><a class="d-block"></a></div>
      <div class="findCourse bg-primary">
        <div class="pt-6 mb-6 d-flex align-items-center">
          <h2><span>找</span><span>課</span><span>程</span></h2>
          <img src="../assets/images/h2-bg-side.png" alt="h2-bg-side">
        </div>
        <div class="container">
          <ul class="row list-unstyled mb-0">
            <li class="col-3">
              <div class="frame">
                <div class="card">
                  <div class="text">
                    <h5>Quote the day</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                  </div>
                  <div>

                  </div>
                </div>
              </div>
            </li>
            <li class="col-3"></li>
            <li class="col-3"></li>
            <li class="col-3"></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <%- include('./layout/footer') -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
